
body {
    background-image: url("./resources/background.png");
    font-family: 'Times New Roman', Times, serif;
   }
  .nav { 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }
    

  .cart {
    float: right;

    width: 120px
  
  }
  .logo {
    float: left;   
    width: 160px;  
  }
  
  .image{
   height: 80%;
   position:absolute;
   bottom:0%;
   left: 500px
  }
 
.content{
  display:inline-block;
  padding-left: 20px;
  margin-top: 40px;
  margin-left: 80px;
  font-size: 20px;

}
.arrow
{
  width: 120;
  height: 1200;

}
.btn

{
  display:inline-block;
 background-image: linear-gradient(to bottom right, turquoise, violet);
  opacity: 0.4;
  border-radius: 6px;
  padding: 20px;
  color: black;
  
}

.social{
display: block;
width: 20px;
margin:auto 20px;
padding: 20px;
}
